<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container bcontent">
            <h2>Teacher List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="teacher: ${teachers}">
                        <td th:text="${teacher.name}">Name</td>
                        <td th:text="${teacher.salary}">Salary</td>
                        <td th:text="${teacher.status}">Status</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>